.info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.panel-text {
  font-size: 48px;
  font-weight: bold;
  color:black;
  text-align: left;
}

.button-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.panel-button {
  background-color: #D9D9D9;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.panel-button:hover {
  background-color: #4da1c4;
}
