    .footer-background{
        background-image: url('/images/background-footer.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    ul{
        list-style-type: none;
    }

    .footer-text{
        font-size: 36px;
        font-weight: 400;
        font-family: Inter, sans-serif;
        color: #FFFFFF;
    }